<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ruby Machinist</string>
	<key>uuid</key>
	<string>9F00FF74-7FD6-47C4-9BF3-73C1284B2677</string>
</dict>
</plist>
